header {
  display: flex;
  justify-content: space-between;
  height: 68px;

  .logo-container {
    .kasa-title {
      height: 100%;
    }

    img {
      @media screen and (max-width: 500px) {
        height: 47px;
      }
    }
  }

  .header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    gap: 57px;

    @media screen and (max-width: 500px) {
      gap: 0px;
    }
    @media screen and (min-width: 500px) and (max-width: 1024px) {
      gap: 30px;
    }

    a {
      font-size: 24px;
      transition: transform 0.5s;
      height: 38px;
      white-space: nowrap;
      display: flex;
      align-items: center;

      @media screen and (max-width: 500px) {
        width: 59px;
        font-size: 12px;
      }

      @media screen and (min-width: 500px) and (max-width: 1024px) {
        font-size: 16px;
      }

      &:hover {
        transform: scale(1.2);
      }
    }

    .nav-active {
      text-decoration-line: underline;
    }
  }

  @media screen and (max-width: 500px) {
    height: 47px;
    margin-top: 20px;
    margin-bottom: 16px;
  }
}
