$color-1: #ff6060;
$white-1: #fff;
$grey-1: #f6f6f6;
$black-1: #000000;

$mobile: 500px;
$tablette: 1024px;

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $color-1;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

header,
main {
  margin: 40px 100px 63px 100px;
}

main {
  min-height: 80vh;
}

/* Version desktop à partir de 1000px tu me fais ca */
// @media screen and (min-width: 1000px) {
//   header,
//   main {
//     margin: 40px 0px 63px 0px;
//   }
// }

// en dessous de 500 tu me fais ca
@media screen and (max-width: 1024px) {
  header,
  main {
    margin: 20px 20px 16px 20px;
  }
}

// @media screen and (min-width: 501px) and (max-width: 1024px) {
//   header,
//   main {
//     margin: 20px 20px 16px 20px;
//   }
// }

// entre x et x tu me fais ca
// @media screen and (min-width: 500px) and (max-width: 1000px) {
//   header,
//   main {
//     margin: 40px 100px 63px 100px;
//   }
// }
