.title-and-location {
  display: flex;
  justify-content: space-between;
  margin: 2.2% 0;

  @media screen and (max-width: 500px) {
    flex-direction: column;
  }

  .titles {
    display: flex;
    flex-direction: column;
    width: 80%;

    @media screen and (max-width: 500px) {
      width: 100%;
    }

    h1 {
      font-size: 36px;
      line-height: 142.6%;
    }

    h2 {
      font-size: 18px;
      line-height: 142.6%;
    }

    @media screen and (max-width: 1024px) {
      h1 {
        font-size: 18px;
      }
      h2 {
        font-size: 14px;
        margin-top: 5px;
      }

      .tags {
        font-size: 10px;
      }
    }

    .tags-container {
      margin: 20px 0;
      display: flex;
      flex-wrap: wrap;

      @media screen and (max-width: 500px) {
        margin: 5px 0;
      }

      .tags {
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 5px;
        background-color: $color-1;
        color: $white-1;
        border-radius: 10px;
        font-size: 14px;
        padding: 10px;
        height: 25px;

        @media screen and (max-width: 1024px) {
          font-size: 10px;
          height: 18px;
        }
      }
    }
  }

  .host {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 500px) {
      width: 100%;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }

    .host-stars {
      text-align: right;
      margin-right: 20px;
      margin-top: 27px;
      width: 196px;

      @media screen and (max-width: 500px) {
        display: flex;
        justify-content: left;
        align-items: center;
        margin-right: 0px;
        margin-top: 0px;
      }

     

      i {
        color: #e3e3e3;
        font-size: 25px;

        @media screen and (max-width: 1024px) {
          font-size: 15px;
        }
      }

      .i-colored {
        color: $color-1;
      }
    }

    .host-infos {
      display: flex;
      justify-content: space-evenly;

      @media screen and (max-width: 500px) {
        justify-content: space-between;
        align-items: center;
      }

      .break-words {
        font-size: 18px;
        width: 93px;
        height: 52px;
        line-height: 142.6%;
        text-align: right;
        margin-top: 6px;
        white-space: pre-line;

        @media screen and (max-width: 500px) {
          display: flex;
          font-size: 12px;
          margin-top: 0;
          align-items: center;
          width: 60px;
          margin-right: 10px;
        }
      }

      img {
        object-fit: cover;
        width: 64px;
        height: 64px;
        border-radius: 50px;

        @media screen and (max-width: 500px) {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}

.about-main-container {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 500px) {
    flex-direction: column;
    gap: 20px;
  }

  .accomodation-accordion-item {
    width: 46%;

    @media screen and (max-width: 500px) {
      width: 100%;
    }

    .accordion-container {
      margin: 0 auto;
    }
  }
}
